<app-message></app-message>

<app-code-editor
  [events]="eventsToEditor.asObservable()"
  [commandName]="commandName"
  (code)="command = $event">

</app-code-editor>

<div class="buttons">
  <button class="button" (click)="fileUpload.click()">
    <mat-icon class="icon">attach_file_add</mat-icon>
    <p>Upload</p>
  </button>
  <button class="button" (click)="openFileDialog()">
    <mat-icon class="icon">folder</mat-icon>
    <p>Files</p>
  </button>
  <button class="button" (click)="undo()">
    <mat-icon class="icon">undo</mat-icon>
    <p>Undo</p>
  </button>
  <button class="button" (click)="save()">
    <mat-icon class="icon">save</mat-icon>
    <p>Save</p>
  </button>
  <button class="button" (click)="run()">
    <mat-icon class="icon">forward</mat-icon>
    <p>Run</p>
  </button>
</div>

<input
  #fileUpload
  class="hide"
  type="file"
  (change)="onFileSelected($event)">


