.hide { display: none; }

.buttons {
  box-shadow: 109px 5px 5px black;
  text-align: center;
  width: 100%;
}

.button {
  padding: 0.25rem 1rem;
  border: none;
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.0)
}
