.hide {
  display: none;
  margin: 0;
}

.buttons {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 1;
  border-top: 2px solid #212121;
}

.button {
  margin: 1rem;
  border: none;
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.0)
}
