<!--
old editor

<textarea
  class="editor"
  [(ngModel)]="command">
  {{ command }}
</textarea>
-->

<app-code-editor
    [code]="command">
</app-code-editor>

<input
  #fileUpload
  class="hide"
  type="file"
  (change)="onFileSelected($event)">

<div class="buttons">
  <button class="button" (click)="fileUpload.click()">
    <mat-icon class="icon">add</mat-icon>
    <p>Add</p>
  </button>
  <button class="button" (click)="run()">
    <mat-icon class="icon">forward</mat-icon>
    <p>Run</p>
  </button>
</div>
