<mat-toolbar>
  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  <span class="title"> New Command </span>
</mat-toolbar>
<mat-sidenav-container class="main">
  <mat-sidenav #sidenav class="sidenav">
    <div class="menu-item">
      <a routerLink="new"> New Command </a>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-item">
      <span class="menu-item"> Commands </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
