.toolbar {
  height: 8%;

}

.title {
  padding-left: 1rem;
}

.main {
  margin: 0;
  height: 92%;

  position: absolute;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  height: 100%;
  background-color: #424242;
}

.active {
  color: #42A5F5;
}

.content {
  height: 100;
  overflow: hidden;
}

.expanded {
  padding-left: 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1rem 24px;
  font-weight: 500;
  border-radius: 2px;

  &:hover {
    background-color: #454545;
  }

  * {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}


