.toolbar {
  height: 8%;

}

.title {
  padding-left: 1rem;
}

.main {
  margin: 0;
  height: 92%;

  position: absolute;
  top: 8%;
  bottom: 8%;
  left: 0;
  right: 0;
}

.sidenav {
  height: 100%;
  background-color: #313131;
}

.content {
  height: 100;
  overflow: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  text-align: center;

  * {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}



