.message-container {
  display: flex;
  background-color: #1A1A1A;
  font-family: monospace;
  font-size: 0.75rem;
  width: 100%;
  padding: 0.3rem 0.2rem;
}

.leftmost {
  margin-left: 1rem;
  margin-right: 0.5rem;
}







