.files {
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.no-files {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.button {
  width: 50%;
}




