/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: white;
  text-decoration: none;
}

.mat-expansion-panel-body {
  padding: 0 0 !important;
}

mat-nav-list {
  padding: 0 !important;
}

@media (min-width: 600px) {
  :root {
    font-size: 26px;
  }
}
