<mat-progress-bar
  mode="determinate"
  [value]="progress"></mat-progress-bar>

<ng-template class="container" #notReady>
  <h1> Error: FFmpeg is Not Loaded </h1>
</ng-template>

<div class="container" *ngIf="ready; else notReady">
  <textarea readonly
            #logger
            id="logger">{{ log }}</textarea>

  <div class="buttons">
    <a *ngIf="output" href="{{ output }}">
      <button class="button">
        <mat-icon>download</mat-icon>
        <p>Download</p>
      </button>
    </a>
  </div>
</div>



