.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

#logger {
  resize: none;
  width: 100%;
  height: 85.75%;

  color: white;
  background-color: #121212;

  padding: 0.5rem;

  border: none;
  padding: 0.5rem;
  display: block;
  margin: 0;
}

.button {
  border: none;
  color: white;
  margin: 0.25rem 1rem;
  background-color: rgba($color: #000000, $alpha: 0.0);
}
